{
    "presets": ["next/babel"],
    "plugins": [
      "@babel/plugin-proposal-optional-chaining",
      ["styled-components", { "ssr": true }]
    ],
    "env": {
      "test": {
        "presets": [
          [
            "next/babel",
            {
              "preset-react": {
                // Choose `automatic` to support new JSX transform in React 17
                "runtime": "automatic"
              }
            }
          ]
        ],
        "plugins": ["transform-dynamic-import"]
      }
    }
  }
  