html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

em,
i {
  color: #666;
}

* {
  box-sizing: border-box;
}

blockquote {
  border-left: 1px solid #b5b5b5;
  padding-left: 10px;
}
